@model LoginViewModel
@{
    Layout = null;
}


<form>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" id="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" id="nesto"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-outline-primary" asp-controller="Account" asp-action="_Login" onclick="log()">Login</button>
</form>

@*onclick="showPopup('@Url.Action("NewService", "Services", new { id = item.ServiceId }, Context.Request.Scheme)','Update Service')"*@

@*https://stackoverflow.com/questions/36329167/bootstrap-modal-dialog-return-message-in-mvc*@

@*<button type="submit" class="btn btn-outline-primary" asp-controller="Account" asp-action="_Login" onclick="log('@Url.Action("_Login", "Account")')">Login</button>*@