@{
    ViewData["Title"] = "Home Page";
}

<img src="~/images/audi.png" class="img-fluid mx-auto d-block" alt="...">
<br />
<h3 class="text-center">SCHEDULE YOUR APPOINTMENT</h3>
<br />
<h4 class="text-center" style="color: #343a40">Call: +381-060-123-4567</h4>
<p class="text-center" style="color: #343a40">Your Automotive Repair and Maintenance Service specialist</p>
