@model ServiceCategory

<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Edit Services Category or Item</h4>
            <hr />
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <input asp-for="CategoryId" class="form-control" readonly/>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control"  />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

          
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary" asp-controller="Categories" asp-action="UpdateCategory">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>